.container-fluid{
    padding: 0%;
}
.container-fluid img{
    width: 100%; 
    
} 
.container-fluid h2{
    top: 5vmax;
    left: 23%;
    font-size: 2.5vw;
    position: absolute;
}
#overLay{

position: relative;
top: -14px;
}
.col-sm{
   padding: 30px;
   background-color: #FFFFFF;
}
#displayImage{
position: relative;
width: inherit;
}
h5{
display: unset !important;
font-size: 20px;
padding-left: 20px;
}
.text-black-50.a{
padding-left: 50px;

}
.imageDesign{
height: auto;
width: 40px;
}
hr{
margin-top: -1px;
margin-left: 49px;
width: 150px;
height: 2px !important;
background: #2E75E1;
}